*,
*::after,
*::before{
    box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --size: calc(1vw + 1vw);
  --index: calc(1vw + 1vh)
}
@font-face {
  font-family: inter-c;
  src: url(../fonts/Inter-Bold.ttf);
}
ul{
 margin: 0;
 list-style: none;
}
li{
 padding-left: 0;
}
a{
 text-decoration: none;
 color: inherit;
}
body{
 font-family: inter-c;
 margin: 0;
 background-color: rgb(255, 255, 255);

}
.container-1{
  padding: 0 10vw;3
}
.background{
  max-width: 100%;
}
.main{
  /*width: 100vw;
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  background-image: url(background.jpg);
  background-attachment: fixed;
  height: 100vh;*/
}
.nav-bar{
  top: 0; left: 0; right: 0;
  text-align: center;
  padding-top: 20px;
  position: absolute; 
}

.menu__link{
 text-transform: uppercase;
 padding: 15px 40px;
 transition: all .5s;
 font-weight: 600;
 font-size: calc(var(--size)*0.7);  
 } 
 .menu__link:hover{
  background-color: #131313; /* Нужно чтобы при наведении на ссылки менялся свет*/
  color: #fff;
  font-weight: 600;
  font-size: calc(var(--size)*0.8);  
  
} 
.logo{
  text-align: center;
  font-size: calc(var(--size)*5.8);  
  font-family: inner-c;
  color: #000000; 
  background: linear-gradient(180deg, rgb(255, 255, 255), transparent); /* Создает градиент*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: absolute; 
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: calc(var(--size)*7) ;
}

/*2 бети*/

.footer{
    display:flex;
    background-color: #ffffff;
    padding: 0 10vw;
}
.nature{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 40px;
  margin-left: calc(var(--size)*0.2); 
}
.nature_1{
  width: calc(var(--index)*10.8); 
  height: calc(var(--index)*23.8);
  bottom: 10vh;
  padding-right:25px ;
}
.nature_2{
  width: calc(var(--index)*10.8); 
  height: calc(var(--index)*23.8);
  bottom: 10vh;
  padding-right:25px ;
}
.kg{
    font-size: calc(var(--size)*0.9);  
    color: #000000;
    margin-bottom: 15px;
    font-weight: 500;
    word-spacing: 15px;
    width: fit-content;
}
.aboutkg{
    font-size: calc(var(--size)*2.2);
    margin-top: 50px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: 700;
 }

 /* 3 бети */ 
.aboutcompany{
padding-top: 150px;
}
.container-3{
  display:flex;
  background-color: #ffffff;
} 
.textcompany{
  margin-left: calc(var(--size)*4.2); ;
  margin-right: 50px;
}
.company-1{
  font-size: calc(var(--size)*2.2);  
  margin-top: 25px;
  margin-bottom: -15px;
  color: #000000;
}
.company-2{
  font-size: calc(var(--size)*2.1); 
   margin-top: 25px;
  color: #000000;
  margin-bottom: 35px;
}
.company-3{
  font-size: calc(var(--size)*0.9);  
  color: #000000;
  margin-top: -15px;
  font-weight: 700;
  word-spacing: 15px;
}
.photocompany{
  margin-top: 45px;
  border-radius: 25px;
  width: calc(var(--size)*13.8); 
  height: calc(var(--size)*15.8);;
}
/* 4 бети*/
.our-tours{
  margin-left: calc(var(--size)*5.5); 
  font-size: calc(var(--size)*1.8);
  margin-bottom: 50px;
  margin-top: 100px;
}
.tash{
margin-left: calc(var(--size)*5.5); 
border-radius: 25px;
width: calc(var(--size)*40.5); 
height: calc(var(--size)*21.9); 
}
.tour{
  position: relative;
  color: #ffffff;
  font-weight: bold;
  z-index: 999;
  transition: 1s;
  padding-top: 40px;
}
.tour:hover{
  transform: scale(1.1);
}
.info{
font-size: calc(var(--size)*1.1); 
position: absolute; 
top: calc(var(--size)*4.5); 
margin-left: calc(var(--size)*7.5); 
width: calc(var(--size)*15.5); 
position: absolute;
}
.price{
  font-size: calc(var(--size)*1.1); 
  position: absolute;
  bottom: 0;
  margin-bottom: calc(var(--size)*2.5); ;
  text-decoration: underline;
  margin-left: calc(var(--size)*26.5); 
}
.time{
  position: absolute;
  font-size: calc(var(--size)*0.9); 
  width: min-content;
  margin-left: calc(var(--size)*34.5); 
  top: calc(var(--size)*4.5); 
  position: absolute;
}
.know-more{
  color: #fefefe;
  position: absolute;
  font-size: calc(var(--size)*0.9); 
  font-weight: 500;
  bottom: 0; /* размещает объект снизу*/
  margin-left: calc(var(--size)*35); 
  margin-bottom: calc(var(--size)*2.3); 
  border:
  calc(var(--size)*0.09) 
  white
  solid;        
  border-radius: 20px;
  height: calc(var(--size)*1.9);
  width: calc(var(--size)*9.5);
  text-align: center; 
  padding-top: 5px;
  border-color: #ffffff;
  transition: all .5s;
  position: absolute;
}
.know-more:hover{
  background-color: #131313; /* Нужно чтобы при наведении на ссылки менялся свет*/
  color: #fff;
  font-weight: 500;
  font-size: 26px;
  height: calc(var(--size)*1.9);
  width: calc(var(--size)*9.5);
  text-align: center; 
  padding-top: 5px;
  border-color: #000000;
}
/* Тур по Иссык-Кулю*/
.ik{
  margin-left: calc(var(--size)*5.5); 
  border-radius: 25px;
  width: calc(var(--size)*40.5); 
  height: calc(var(--size)*21.9); 
  }
  
  /* Тур по Кел-Суу*/
  .kel{
    margin-left: calc(var(--size)*5.5); 
    border-radius: 25px;
    width: calc(var(--size)*40.5); 
    height: calc(var(--size)*21.9); 
    }
    
    /*Тур по Озеру Сон-Кель*/

    .son-kel{
    margin-left: calc(var(--size)*5.5); 
    border-radius: 25px;
    width: calc(var(--size)*40.5); 
    height: calc(var(--size)*21.9); 
    }
   
    /*Отзывы*/
    
    .rectangle-1 {
      margin-top: calc(var(--index)*1.8); 
      margin-left: calc(var(--index)*6.8); ;
      position: absolute;
      width: calc(var(--index)*15.8); 
      height: calc(var(--index)*23.8);
      background-color: #F3E5E5;
    }
    .rectangle-2 {
      margin-top: calc(var(--index)*1.8); 
      margin-left: calc(var(--index)*25.8);
      position: absolute;
      width: calc(var(--index)*15.8); 
      height: calc(var(--index)*23.8);
      background-color: #F3E5E5;
    }
    .rectangle-3 {
      margin-top: calc(var(--index)*1.8); 
      margin-left: calc(var(--index)*44.8);
      position: absolute;
      width: calc(var(--index)*15.8); 
      height: calc(var(--index)*23.8);
      background-color: #F3E5E5;
    }
    .rectangle-4 {
      margin-top: calc(var(--index)*27.7); 
      margin-left: calc(var(--index)*44.8);
      position: absolute;
      width: calc(var(--index)*15.8); 
      height: calc(var(--index)*23.8);
      background-color: #F3E5E5;
    }
    .rectangle-5 {
      margin-top: calc(var(--index)*27.7); 
      margin-left: calc(var(--index)*25.8);
      position: absolute;
      width: calc(var(--index)*15.8); 
      height: calc(var(--index)*23.8);
      background-color: #F3E5E5;
    }
    .rectangle-6 {
      margin-top: calc(var(--index)*27.7); 
      margin-left: calc(var(--index)*6.8);
      position: absolute;
      width: calc(var(--index)*15.8); 
      height: calc(var(--index)*23.8);
      background-color: #F3E5E5;
    }

    /* 5 бети*/
    .otzyv{
      margin-left: 150px;
      font-size: calc(var(--size)*1.8);
      margin-bottom: 100px;
      margin-top: 100px;
    }

    @media screen and (max-width: 800px) {
      
    }
    
 html::-webkit-scrollbar{width: 0px;}
 html{
  scroll-behavior:smooth;
}
