*,
*::after,
*::before{
    box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --size: calc(1vw + 1vw);
  --index: calc(1vw + 1vh)
}
@font-face {
  font-family: inter-c;
  src: url(../fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: beauty-c;
  src: url(../fonts/Beauty.ttf);
}
ul{
 margin: 0;
 list-style: none;
}
li{
 padding-left: 0;
}
a{
 text-decoration: none;
 color: inherit;
}
body{
 font-family: inter-c;
 margin: 0;
 background-color: rgb(255, 255, 255);

}
.container-1{
  padding: 0 10vw;3
}
.background{
  max-width: 100%;
}

.nav-bar{
  top: 0; left: 0; right: 0;
  text-align: center;
  padding-top: 20px;
  position: absolute; 
}

.menu__link{
 text-transform: uppercase;
 padding: 15px 40px;
 transition: all .5s;
 font-weight: 600;
 font-size: calc(var(--size)*0.7);  
 } 
 .menu__link:hover{
  background-color: #131313; /* Нужно чтобы при наведении на ссылки менялся свет*/
  color: #fff;
  font-weight: 600;
  font-size: calc(var(--size)*0.8);  
  
} 
.logo{
  text-align: center;
  font-size: calc(var(--size)*5.8);  
  font-family: inner-c;
  color: #000000; 
  background: linear-gradient(180deg, rgb(255, 255, 255), transparent); /* Создает градиент*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: absolute; 
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: calc(var(--size)*7) ;
}

/*2 бети*/
.kyrgyzrp{
  display:flex;
  background-color: #ffffff;
  padding: 0 10vw;
}
.nature{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 40px;
  margin-left: calc(var(--size)*0.2); 
}
.lakee{
  width: calc(var(--size)*9.2); 
  height: calc(var(--size)*24);
  margin-right: calc(var(--size)*0.5);
  transition: 1.5s;
}
.lakee:hover{
  transform: scale(1.1);
}
.riveer{
  width: calc(var(--size)*9.2); 
  height: calc(var(--size)*24);
  margin-right: calc(var(--size)*1.8);
  transition: 1.5s;
}
.riveer:hover{
  transform: scale(1.1);
}
.kg{
    font-size: calc(var(--size)*0.9);  
    color: #000000;
    margin-bottom: calc(var(--size)*1.2);
    font-weight: 500;
    word-spacing: calc(var(--size)*0.8);
    width: fit-content;
}
.aboutkg{
    font-size: calc(var(--size)*2.2);
    margin-top: calc(var(--size)*2.2);
    color: #000000;
    margin-bottom: calc(var(--size)*1.2);
    font-weight: 700;
 }

 /* 3 бети */ 
.aboutcompany{
padding-top: calc(var(--size)*5.2);
}
.container-3{
  display:flex;
  background-color: #ffffff;
  padding: 0 10vw;
} 
.textcompany{
  margin-right: calc(var(--size)*2.2);
}
.company-1{
  font-size: calc(var(--size)*2.2);  
  margin-top: calc(var(--size)*1.2);
  color: #000000;
  
}
.company-2{
  font-size: calc(var(--size)*2.1); 
  margin-top: calc(var(--size)*1.2);
  color: #000000;
}
.company-3{
  font-size: calc(var(--size)*0.9);  
  color: #000000;
  margin-top: calc(var(--size)*1.2);
  font-weight: 700;
  word-spacing: calc(var(--size)*0.6);
}
.photocompany{
  margin-top: calc(var(--size)*2);
  border-radius: calc(var(--size)*1.2);
  width: calc(var(--size)*13.8); 
  height: calc(var(--size)*15.8);
  transition: 1.5s;
}
.photocompany:hover{
  transform: scale(1.1);
}
/* 4 бети*/
.container-4{
  padding: 0 10vw;
  margin-top: calc(var(--size)*10.2);
}
.our-tours{
  margin-left: calc(var(--size)*1.5); 
  font-size: calc(var(--size)*1.8);
  margin-bottom: calc(var(--size)*2.2);
  margin-top: calc(var(--size)*4.2);
}
.tash{
border-radius: calc(var(--size)*1.2);
width: calc(var(--size)*40); 
height: calc(var(--size)*21.9); 
}
.tour{
  position: relative;
  color: #ffffff;
  font-weight: bold;
  z-index: 999;
  transition: 1s;
  padding-top: calc(var(--size)*2.2);
}
.tour:hover{
  transform: scale(1.1);
}
.info{
font-size: calc(var(--size)*1.1); 
position: absolute; 
top: calc(var(--size)*4.5); 
margin-left: calc(var(--size)*3.5); 
width: calc(var(--size)*15.5); 
position: absolute;
}
.price{
  font-size: calc(var(--size)*1.1); 
  position: absolute;
  bottom: 0;
  margin-bottom: calc(var(--size)*2.5); ;
  text-decoration: underline;
  margin-left: calc(var(--size)*18.5); 
}
.time{
  position: absolute;
  font-size: calc(var(--size)*0.9); 
  width: min-content;
  margin-left: calc(var(--size)*26.5); 
  top: calc(var(--size)*4.5); 
  position: absolute;
}
.know-more{
  color: #fefefe;
  position: absolute;
  font-size: calc(var(--size)*0.9); 
  font-weight: 500;
  bottom: 0; /* размещает объект снизу*/
  margin-left: calc(var(--size)*28); 
  margin-bottom: calc(var(--size)*2.3); 
  border:
  calc(var(--size)*0.09) 
  white
  solid;        
  border-radius: 20px;
  height: calc(var(--size)*1.9);
  width: calc(var(--size)*9.5);
  text-align: center; 
  padding-top: 5px;
  border-color: #ffffff;
  transition: all .5s;
  position: absolute;
}
.know-more:hover{
  background-color: #ffffff; /* Нужно чтобы при наведении на ссылки менялся свет*/
  color: #000000;
  font-weight: 500;
  font-size: calc(var(--size)*1); 
  height: calc(var(--size)*1.9);
  width: calc(var(--size)*9.5);
  text-align: center; 
  padding-top: 5px;
  border-color: #ffffff;
}
/* Тур по Иссык-Кулю*/
.ik{
  border-radius: calc(var(--size)*1.2);
  width: calc(var(--size)*40); 
  height: calc(var(--size)*21.9); 
  }
  
  /* Тур по Кел-Суу*/
  .kel{
    border-radius: calc(var(--size)*1.2);
    width: calc(var(--size)*40); 
    height: calc(var(--size)*21.9); 
    }
    
    /*Тур по Озеру Сон-Кель*/

    .son-kel{
    border-radius: calc(var(--size)*1.2);
    width: calc(var(--size)*40); 
    height: calc(var(--size)*21.9); 
    }
   
    /*Контакты*/
    
    .end-img{
      max-width: 100%;
    }
    .with-us{
     font-family: beauty-c;
     color:#FFCF40;
     font-size: calc(var(--size)*2.9);
     position: absolute;
     margin-left: calc(var(--size)*10);
     margin-top: calc(var(--size)*3.9);
    }

    
 html::-webkit-scrollbar{width: 0px;}
 html{
  scroll-behavior:smooth;
}
