<!DOCTYPE html>
<html lang="ru">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
 <title>ТАШ-РАБАТ</title>

 
  <script src="libs/gsap/gsap.mim.js" defer></script>
  <script src="libs/gsap/ScrollTrigger.min.js" defer></script>
  <script src="libs/gsap/ScrollSmoother.min.js" defer></script>

  <link href="../about.css" rel="stylesheet" type="text/css">
  <script defer src="js/tash.js" defer></script>

</head>
<body>
  <div class="wrapper">
    <div class="content">
        <div class="header">
          <div class="header__line"> 
            <div class="nav-bar">
            <ul class="menu-list">
              <a class="menu-link" href="/" >Главная</a>
              <a class="menu-link" href="#programm-tur">Программа тура</a>
              <a class="menu-link" href="#">Контакты</a>
            </ul>
            </div>
          </div>
          <div class="logo">KG TOUR</div>
          <div class="img_1">
            <img class="tash" src="/images/tash-rab.png" alt="" >
            <p class="information">ТУР ПО ОЗЕРУ ИССЫК-КУЛЬ+ТАШ-РАБАТ </p>
          </div> 
      </div>


      <div class="programm"> 
        <div class="text-programm">
          <article id="programm-tur"><p class="programm-tur">Программа тура</p></article>
          <p class="continue">Продолжительность 7  дней</p>
        </div>
        <section class="container-1">
          <div class="info">
            <div class="image">
                <p class="day">День 1</p>
                <img class="bishkek-1" src="/images/bishkek-1.png" alt="">
                <img class="bishkek-2" src="/images/biskek-2.png" alt="">  
            </div>
            <div class="text">
              <p class="text_2">Встреча в аэропорту, трансфер в Бишкек.</p>
              <p class="text_3">Размещение в гостевом доме. Экскурсия по городу, прогулка по центральной площади Ала-Тоо и Дубовому Парку, поездка на флагшток, увидим памятник Ленину и Свободе, памятник Манасу. Посещение Исторического музея. Прогулка по проспекту Чуй от площади до Филармонии.</p>
            </div>
          </div>
        </section>

        <section class="container-2">
          <div class="info">
            <div class="image">
                <p class="day">День 2</p>
                <img class="bishkek-1" src="/images/Tash-1.png" alt="">
                <img class="bishkek-2" src="/images/tash-2.png" alt="">
            </div>
          
            <div class="text">
              <p class="text_2">Бишкек – Таш Рабат 450 км.</p>
              <p class="text_3">Утром после завтрака выезд в Таш Рабат, Нарынская обл. (450 км). По дороге остановка на перекус (слоенные жареные блинчики с чаем). Остановка на Ортотокойском водохранилище.Прибытие в Таш Рабат.
                Таш-Рабат был построен в XV веке на месте более древнего несторианского или буддийского монастыря IX—X веков.</p>
            </div>
          </div>
        </section>


        <section class="container-3">
          <div class="info">
            <div class="image">
                <p class="day">День 3</p>
                <img class="bishkek-1" src="/images/skazka.png" alt="">
                <img class="bishkek-2" src="/images/vodopad.png" alt="">
            </div>
          
            <div class="text">
              <p class="text_2">Кочкор – Каракол, по южному берегу Иссык-Куля 300 км</p>
              <p class="text_3">После завтрака выезжаем в г. Каракол. По дроге заедем в гости к Беркутчи. Показ беркута (если показ охоты, доп. оплата). Далее остановка в каньоне Сказка, водопаде Барскоон. После, заедем в ущелье Джети Огуз (семь быков). Прибытие в г. Каракол и размещение в гостевом доме.</p>
            </div>  
          </div>
        </section>

        <section class="container-4">
          <div class="info">
            <div class="image">
                <p class="day">День 4</p>
                <img class="bishkek-1" src="/images/mechet.png" alt="">
                <img class="bishkek-2" src="/images/altyn-arashan.png" alt="">
            </div>
          
            <div class="text">
              <p class="text_2">Каракол – Алтын Арашан</p>
              <p class="text_3">Утром после завтрака едем смотреть Дунганскую мечеть, затем посетим музей Пржевальского и после обеда едем в ущелье Алтын Арашан (пересаживаемся на другое авто - УАЗ). Вечером после приезда из ущелья Алтын-Арашан едем купаться в горячем источнике (доп. оплата). Прибытие, ночь в гостевом доме.</p>
            </div>
          </div>
        </section>

        <section class="container-5">
          <div class="info">
            <div class="image">
                <p class="day">День 5</p>
                <img class="bishkek-1" src="/images/semen.png" alt="">
                <img class="bishkek-2" src="/images/cholpon-ata.png" alt="">
            </div>
          
            <div class="text">
              <p class="text_2">Каракол – Чолпон-Ата 200 км</p>
              <p class="text_3">Утром после завтрака выезд в г. Чолпон-Ата. По дороге заезжаем в Семеновское ущелье, остановка на жайлоо Кырчын в котором проходили Всемирные Игры Кочевников. После, поедем в Григорьевское ущелье, остановки по красивым местам. Приезжаем в г. Чолпон-Ата. Размещение в гостевом доме.</p>
            </div>
          </div>
        </section>

        <section class="container-6">
          <div class="info">
            <div class="image">
                <p class="day">День 6</p>
                <img class="bishkek-1" src="/images/ruh-ordo-2.png" alt="">
                <img class="bishkek-2" src="/images/ruh-ordo.png" alt="">
            </div>
          
            <div class="text">
              <p class="text_2">Чолпон Ата - Бишкек 280 км</p>
              <p class="text_3">После завтрака выезд в г. Бишкек. В Чолпон-Ате заедем в культурный центр Рух-Ордо. На территории комплекса расположены мемориальный дом Ч. Айтматова, музеи, выставочный зал с этническими символами кочевых народов, фотогалереей, портретным залом и концертным залом, сцена которого заканчивается открытым видом на Иссык-Куль.</p>
            </div>
          </div>
        </section>

        <section class="container-7">
          <div class="info">
            <div class="image">
                <p class="day">День 7</p>
                <img class="bishkek-1" src="/images/burana.png" alt="">
                <img class="bishkek-2" src="/images/burana-2.png" alt="">
            </div>
          
            <div class="text">
              <p class="text_2">Башня Бурана</p>
              <p class="text_3">Далее по дороге заедем в г. Токмок где находится Башня Бурана — минарет IX—XI веков государства Караханидов в Чуйской долине на севере Кыргызстана. Расположена в 80 км от столицы Бишкека, в 12 км к юго-западу от кыргызкого города Токмак.
                Приезд в г. Бишкек и размещение в гостевом доме.</p>
            </div>
          </div>
        </section>

        <section class="container-8">
          <div class="info">
            <div class="image">
                <p class="day">День 7</p>
                <img class="bishkek-1" src="/images/osh-bazar.png" alt="">
                <img class="bishkek-2" src="/images/manas.png" alt="">
            </div>
          
            <div class="text">
              <p class="text_2">Бишкек</p>
              <p class="text_3">Трансфер Бишкек – Аэропорт Манас
                До трансфера, при наличии достаточного времени, можно посетить Ошский рынок для закупки сувениров.</p>
            </div>
          </div>
        </section>

      </div>

      <div class="contact">
        <div class="text-c">
            <p class="with-us"> Отправляйся с нами</p>
        </div>
        <div class="end">
          <article id="end-img"><img class="end-img" src="/images/end.png" alt="alt" ></article> 
        </div>
      </div>
    </div> 
  </div>
</body>
</html>