<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Отзывы</title>
</head>
<body>
 <hr>
 <a href="/">Главная</a>|<a href="/about/">Туры</a>|<a href="/items/">Отзывы</a>
 <hr>
 <div >Новый отзыв</div> 

 <br>
   <form action="postItem" method="POST">
     <table>
      <tr>
       <td><div class="label">Отзыв</div></td>
       <td><input name="name" /></td>
      </tr>
       <tr>
       <td><div class="label">Оценка</div></td>
       <td><input name="cost" /></td>
      </tr>
           <tr>
       <td></td>
       <td><div class="label"><input type="submit" value="Отправить" /></div></td>
      </tr>

     </table>
   </form>
   <hr>
   <br>
   <a href="/items">К отзывам</a>
</body>
</html>