<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Отзывы</title>
</head>
<body>
 <hr>
 <a href="/">Главная</a>|<a href="/about/">Туры</a>|<a href="/items/">Отзывы</a>
 <hr>
 <div > <h1>Отзывы</h1></div> 

 <a href="/items/add">Добавить отзыв</a>

 <br><br>

 <table border="1" width="100%">
  <tr><th>Название</th><th>Оценка</th></tr>
  {{#each items}}
    <tr><td>{{this.name}}</td><td>{{this.cost}}</td></tr>
  {{/each}}
 </table>
</body>
</html>